html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --inputHeight: 25px;
  --paddingButton: 3px;
  --colorBlack: black;
  --colorWhite: white;
  --fontSizeBasic: 12px;
  --fontSizeMedium: 15px;
  --fontSizeHeader: 18px;
  --fontSizeLargeHeader: 24px;
}