.main {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
}

.lineText {
    margin: 5px;
    font-weight: bold;
}