html {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* color */
  --colorPastelBlue: rgb(96, 160, 255);
  --colorBrightBlue: rgb(35, 123, 255);
  --colorPastelYellow: rgb(255, 221, 83);
  --colorPastelRed: rgb(255, 65, 87);
  --colorVeryLightGrey: rgb(245, 245, 245);
  --colorGrey: rgb(200, 200, 200);
  --colorDarkGrey: rgb(70, 70, 70);
  --colorBlack: rgb(15, 15, 15);
  --colorWhite: rgb(255, 255, 255);
  --shadowBasic: 0 0 5px rgba(0, 0, 0.8, 0.4);
  --shadowBottom: 0px 3px 3px rgba(0, 0, 0, 0.11);
  /* font */
  --fontSizeSmall: 12px;
  --fontSizeMedium: 15px;
  --fontSizeLarge: 18px;
  --fontSizeLarger: 24px;
  --fontSizeLargest: 30px;
  --fontSizeSmallIcon: 15px;
  --fontSizeMediumIcon: 18px;
  --fontSizeLargeIcon: 24px;
  --fontSizeLargerIcon: 32px;
  --fontSizeLargestIcon: 40px;
  /* size */
  --inputHeight: 25px;
  --paddingBasic: 10px;
  --borderRadiusBasic: 5px
}