html {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--colorLightBlack);
  background-color: var(--colorVeryLightGrey);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
  /* color */
  --colorPastelBlue: rgb(96, 160, 255);
  --colorBrightBlue: rgb(35, 123, 255);
  --colorPastelYellow: rgb(255, 221, 83);
  --colorOrange: rgb(255, 127, 80);
  --colorPastelRed: rgb(255, 65, 87);
  --colorVeryLightGrey: rgb(240, 240, 240);
  --colorLightGrey: rgb(220, 220, 220);
  --colorGrey: rgb(150, 150, 150);
  --colorDarkGrey: rgb(100, 100, 100);
  --colorBlack: rgb(20, 20, 20);
  --colorLightBlack: rgb(45, 45, 45);
  --colorWhite: rgb(255, 255, 255);
  --shadowBasic: 0 0 10px rgba(130, 130, 130, 0.5);
  --shadowBasicLight: 0 0 5px rgb(200, 200, 200);
  --shadowBottom: 0px 3px 3px rgba(150, 150, 150, 0.5);
  --shadowBottomRight: 1px 3px 2px rgba(150, 150, 150, 0.3);
  /* font */
  --fontSizeSmall: 12px;
  --fontSizeMedium: 15px;
  --fontSizeLarge: 18px;
  --fontSizeLarger: 24px;
  --fontSizeLargest: 30px;
  --fontSizeSmallIcon: 15px;
  --fontSizeMediumIcon: 18px;
  --fontSizeLargeIcon: 24px;
  --fontSizeLargerIcon: 32px;
  --fontSizeLargestIcon: 40px;
  /* size */
  --inputHeight: 25px;
  --paddingBasic: 10px;
  --borderRadiusBasic: 5px
}