.Results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    margin-top: 10px;
}