.button {
    text-align: center;
    border-radius: var(--borderRadiusBasic);
    padding: var(--paddingBasic);
    cursor: pointer;
    text-align: center;
    height: fit-content;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.label {
    margin: 0;
    font-size: var(--fontSizeMedium);
    text-decoration: underline;
}