.Categorymenu {
    z-index: 20;
}

.menuButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu {
    position: absolute;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}