.main {
    height: 400px;
    width: 250px;
    box-shadow: var(--shadowBasicLight);
    background-color: var(--colorWhite);
    border-radius: var(--borderRadiusBasic);
    overflow: hidden;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.backgroundImage {
    filter: blur(25px) brightness(90%);
    object-fit: cover;
    width: 200%;
    height: 200%;
    position: absolute;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.infoContainer {
    margin: 10px;
}

.typeText {
    font-size: var(--fontSizeLarge);
    color: var(--colorOrange);
    margin: 0;
}

.locationText {
    font-size: var(--fontSizeSmall);
    color: var(--colorGrey);
    margin: 0;
    margin-top: 3px;
}

.priceText {
    font-size: var(--fontSizeLarge);
    font-weight: bold;
    color: var(--colorBlack);
    margin: 0;
    margin-top: 8px;
}

.descriptionTextContainer {
    position: relative;
    overflow: hidden;
    height: 110px;
    margin: 10px;
}

.descriptionTextFader {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: repeating-linear-gradient(to bottom, rgba(255, 255, 0, 0), rgb(255, 255, 255));
}

.descriptionText {
    margin: 0;
    margin-top: 10px;
    word-wrap: break-word;
    font-size: var(--fontSizeMedium);
    color: var(--colorDarkGrey);
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.leftButtons {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.rightButtons {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
}