.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadiusBasic);
    cursor: pointer;
    box-shadow: var(--shadowBottom);
    border: none;
}

.button:active {
    box-shadow: none;
}

.label {
    margin: 0;
}